<div class="my-component">
    This Blazor component is defined in the <strong>StoriesLibrary.Components</strong> package.
</div>
<p><a href="_content/StoriesLibrary.Components/prueba.docx">Descargar archivo de prueba</a></p>