<div class="form-group">
	<label for="txtTitle">Título (*)</label>
	<EnhancedInput id="txtTitle" class="form-control" MaxLength="100"  OnFillingPercentageChanged="FillingPercentageChanged"/>
	<progress value="@percentage" max="100"></progress>
</div>
<div class="form-group">
	<label for="txtText">Texto de la historia (*)</label>
	<textarea id="txtText" class="form-control" rows="4"></textarea>
</div>
<button class="btn-primary">@(Mode == FormMode.Add ? "Añadir historia" : "Editar historia")</button>