@using StoriesLibrary.Extensions
@if (Story == null)
{
	<p>Cargando historia...</p>
}
<h2>Detalles de &quot;@Story.Title&quot;, de @Story.Author</h2>
<p>Publicado el @Story.PublishedDate.ToString("dd/MM/yyyy HH:mm").</p>
<article>
	@((MarkupString)Story.Text.ConvertToHtml())
	@if (audioExists)
	{
		<h3>Escucha la historia</h3>
		<audio controls
			   >
			<source src="stories/audioFile/@Story.Id" />
		</audio>
	}
</article>