@page "/"
@attribute [AllowAnonymous] 

<h1>@localizer["Bienvenido a la biblioteca de historias"]</h1>
<p>@localizer["Seas escritor o lector empedernido, esta es tu web. ¡Disfruta!"]</p>
<p>@localizer["¡Ya somos {0} suscriptores!!!!!!!!", numberOfSubscribers]</p>
