@if (storySaved)
{
	<p class="info">Historia @(Mode == FormMode.Add ? "añadida" : "editada") satisfactoriamente.</p>
}
else
{
	<div class="form-group">
		<label for="txtTitle">Título (*)</label>
		<input id="txtTitle" class="form-control" MaxLength="100" @bind="model.Title" @bind:event="oninput" />
	</div>
	<div class="form-group">
		<label for="txtText">Texto de la historia (*)</label>
		<textarea id="txtText" class="form-control" rows="4" @bind="model.Text" @bind:event="oninput"></textarea>
	</div>
	<div class="form-group">
		<label for="txtCategory">Categoría(*)</label>
		<input id="txtCategory" class="form-control" MaxLength="100" @bind="model.Category" @bind:event="oninput" />
	</div>
	<div class="form-group">
		<label for="txtFile">Archivo de audio (mp3) de tu historia:</label>
		<InputFile id="txtFile" OnChange="InputFile_Change" />
	</div>
	<button class="btn-primary" @onclick="SaveStory">@(Mode == FormMode.Add ? "Añadir historia" : "Editar historia")</button>
}