<AuthorizeView>
	<Authorized>
		<a href="Identity/Account/Manage">Hola, @context.User.Identity.Name!</a>
		<form method="post" action="Identity/Account/LogOut">
			<button type="submit" class="nav-link btn btn-link">Cerrar sesión</button>
		</form>
	</Authorized>
	<NotAuthorized>
		<a href="Identity/Account/Register">Regístrate</a>
		<a href="Identity/Account/Login">Inicia sesión</a>
	</NotAuthorized>
</AuthorizeView>
