<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">StoriesLibrary</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="@((collapseNavMenu ? "Expandir" : "Contraer") + " el menú de navegación")" aria-expanded="@(!collapseNavMenu ? "true" : "false")">
		<span class="navbar-toggler-icon" aria-hidden="true"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav aria-label="Menú de navegación principal">
		<ul class="nav flex-column">
			<li class="nav-item px-3">
				<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
					<span class="oi oi-home" aria-hidden="true"></span>Inicio
				</NavLink>
			</li>
			<AuthorizeView>
				<Authorized>
					<li class="nav-item px-3">
						<NavLink class="nav-link" href="admin/stories">
							Administrar historias
						</NavLink>
					</li>
					<li class="nav-item px-3">
						<NavLink class="nav-link" href="stories/add">
							¡Añade tu historia!
						</NavLink>
					</li>
					<li class="nav-item px-3">
						<NavLink class="nav-link" href="novelties/today">
							Novedades
						</NavLink>
					</li>
					</Authorized>
				<NotAuthorized>
					<li class="nav-item px-3">
						<NavLink class="nav-link" href="Identity/Account/Login">
							Inicia sesión
						</NavLink>
					</li>
					<li class="nav-item px-3">
						<NavLink class="nav-link" href="Identity/Account/Register">
							Regístrate
						</NavLink>
					</li>
				</NotAuthorized>
				</AuthorizeView>
		</ul>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
