@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">

		<div class="content px-4">
			<main>
				@Body
			</main>
		</div>
	</div>
	<PageFooter />
</div>
