@inherits LayoutComponentBase

<div class="page">
	<div class="sidebar">
		<NavMenu />
	</div>

	<div class="main">

		<div class="content px-4">
			<main>
				<CascadingValue Value="numberOfSubscribers" Name="numberOfSubscribers">
					@Body
				</CascadingValue>
			</main>
		</div>
	</div>
	<PageFooter />
</div>
