<div class="top-row pl-4 navbar navbar-dark">
	<a class="navbar-brand" href="">StoriesLibrary</a>
	<button class="navbar-toggler" @onclick="ToggleNavMenu" aria-label="@((collapseNavMenu ? "Expandir" : "Contraer") + " el menú de navegación")" aria-expanded="@(!collapseNavMenu ? "true" : "false")">
		<span class="navbar-toggler-icon" aria-hidden="true"></span>
	</button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
	<nav aria-label="Menú de navegación principal">
	<ul class="nav flex-column">
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="oi oi-home" aria-hidden="true"></span> Home
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="counter">
				<span class="oi oi-plus" aria-hidden="true"></span> Counter
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="fetchdata">
				<span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
			</NavLink>
		</li>
		<li class="nav-item px-3">
			<NavLink class="nav-link" href="novelties">
				<span class="oi oi-plus" aria-hidden="true"></span> Novelties
			</NavLink>
		</li>

	</ul>
		</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
}
