@using Microsoft.AspNetCore.Components.WebAssembly.Hosting
@inject IWebAssemblyHostEnvironment hostEnvironment 
<footer class="footer">
	<div class="container">
		<p>&copy; Stories Library @DateTime.Now.Year (@hostEnvironment.Environment)</p>
	</div>
</footer>